{% extends "base.html" %}
{% block extrajs %}

<script type="text/javascript" src="/static/js/index.js"></script>


{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div id='main_content'>
    <p>Our current database has 'course', 'degree', 'section', 'student', 'major', 'enrollment', 'org', and 'membership' tables. The following one is the 'Student' table.</p>
    <table style="width:100%">
   
      {% for row in info %}
          <tr>
                {% for col in row %}
                    <td>{{ col }} </td>
                {% endfor %}
          </tr>
      {% endfor %}

    </table> 
    <div id='execution'>
        <p>You can type any SQL query in the textbox and click the 'Execute' button. If the query starts with 'select', then the result will be displayed</p>
        <textarea class="form-control" rows="2" width="10" id="sql_command">select * from student;</textarea>
        <button type="button" class="btn btn-success" id='execute_button_id'>Execute</button>
        <p id='select_result_id'></p>
    </div>
</div>
    



{% endblock %}